openai>=1.0.0
langchain
langgraph
langchain_community
fastapi
uvicorn[standard]
gunicorn
python-dotenv
PyMuPDF
python-multipart
numpy
supabase
bs4
google-cloud-secret-manager
python-dotenv
beautifulsoup4
httpx